@model IEnumerable<Company.Models.ViewVoucher>

@{
    ViewData["Title"] = "Список путевок";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Список путевек</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Ф.И.О сотрудника
            </th>
            <th>
                Количество отдыхающих
            </th>
            <th>
                 Названия потока
            </th>
            <th>
                Заезд
            </th>
            <th>
                Выезд
            </th>
            <th>
                Категория номера
            </th>
            <th>
                Номер комнаты
            </th>
            <th>
                Стоимость
            </th>
            <th>
                Статус оплаты
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CampersNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Camp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayStatus)
                </td>

            </tr>
        }
    </tbody>
</table>
